body {
    margin: 0;
}

body * {
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #197cff;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    margin: 0;
}

header {
    padding: 64px 20px;
    color: #fff;
    background-color: #1362ff;
    margin-bottom: 30px;
}

header>p {
    margin: 0;
}

header * {
    color: #fff;
}

section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.sub-header-text {
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience-list {
    list-style-type: none;
}

.experience-list li {
    margin-bottom: 10px;
}

.experience-list li div:first-child {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
}

.experience-list li div:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #707070;
}

footer {
    padding: 64px 20px;
    background-color: #061122;
    border-top: 7px solid #1e69ff;
    text-align: center;
}

footer * {
    font-size: 16px;
    color: #fff;
}

.row {
    display: flex;
}

@media screen and (max-width: 500px) {
    .row {
        display: block;
    }
}